/* changes made 1/19/19 */

html {
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {
    html {
        font-size: 16px;
    }
}

@media only screen and (max-width: 680px) {
    html {
        font-size: 14px;
    }
}


/* navigation */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3587A4;
    height: 4.44rem;
    padding: 0 12%;
    background-color: white;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.05);
    font-family: Verdana, sans-serif;
    font-size: .77rem;
    font-weight: bold;
}

.navigation .logo {
    flex-grow: 1;
}

.navigation li {
    display: inline;
    padding-right: 2.2rem;
}

.navigation li a {
    text-decoration: none;
    color: rgb(99, 28, 113);
}

.navigation span {
    display: inline;
    float: left;
    font-size: 1rem;
    margin: .5rem;
    color: rgb(99, 28, 113);
}

@media only screen and (max-width: 550px) {
    .navigation {
        flex-direction: column;
    }
    .navigation .logo {
        flex-grow: 0;
    }
}

.banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50rem;
}

.banner h2 {
    padding: .55rem 0;
    border-top: 4px solid #ffb78c;
    border-bottom: 4px solid #ffb78c;
    font-size: 1.44rem;
    letter-spacing: 2px;
    font-weight: 500px;
}

.banner h1 {
    padding-top: 1.11rem;
    font-size: 8rem;
    font-weight: 900px;
    color: rgb(99, 28, 113);
}

@media only screen and (max-width: 750px) {
    .banner {
        height: 40rem;
    }
    .banner h1 {
        font-size: 8rem;
    }
}

@media only screen and (max-width: 530px) {
    .banner {
        height: 30rem;
    }
    .banner h1 {
        font-size: 6rem;
    }
}